<launch>

<arg name="camera"             default="camera"/>
<arg name="bond"                            default="false" />
<arg name="respawn"                         default="$(arg bond)" />
<arg name="manager"             default="realsense2_camera_manager"/>

<node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>


      <node pkg="nodelet" type="nodelet" output="screen"
        args="load pointcloud_to_laserscan/pointcloud_to_laserscan_nodelet $(arg manager) $(arg bond)" respawn="$(arg respawn)"
        name="pcl2laser">

        <param name="target_frame" type="str" value="os1_lidar" />
        <param name="min_height" type="double" value="0.4" />
        <param name="max_height" type="double" value="0.6" />
        <param name="min_range" type="double" value="0" />
        <param name="max_range" type="double" value="0" />
        <param name="angle_min" type="double" value="-0.78539816339" />
        <param name="angle_max" type="double" value="0.78539816339" />
        <param name="angle_increment" type="double" value="0.01745329251" />
        <param name="use_inf" type="boolean" value="true" />

        <remap from="cloud_in" to="/os1_cloud_node/points"/>

        <remap from="scan" to="pcl2laser/laserscan"/>
      </node>
</launch>
